.menu{
    display: block;
    position: absolute;
    width: var(--tools-width);
    height: 100vh;
    left: calc(var(--tools-width) * -1 - var(--border-size-default));
    top: calc(var(--header-height) + var(--border-size-default));
    background: var(--mainColor);
    border-right: var(--border-size-default) solid var(--resColor);
    transition: var(--transition-fast);
    z-index: 999;
}
.menu-opened{
    left: 0;
    transition: var(--transition-fast);
}
.shadow{
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #000;
    opacity: .2;
    z-index: 999;
}
.field{
    cursor: pointer;
    display: block;
    position: relative;
    width: 100%;
    --field-height: 20px;
    background: var(--mainLightColor);
}
.field::after{
    display: none;
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: -1;
}
.field:hover .ui-context-menu,
.field:hover::after{
    display: inline-block;
}
.field img{
    position: relative;
    padding: 12px 12px 12px 12px;
    /* margin-right: 10px; */
    width: 52%;
    line-height: var(--field-height);
    font-size: 10pt;
    text-align: center;
    vertical-align: middle;
    /* color: var(--darkColor); */
}
.field:hover > img{
    /* color: var(--hoverBlueColor); */
}