ui-context{
    display: block;
    position: absolute;
    border-radius: 5px;
    background: var(--mainLightColor);
    box-shadow: 0 0 30px -20px #323232;
    overflow: hidden;
}
ui-context span{
    display: block;
    position: relative;
    padding: 10px;
    font-size: 8pt;
    font-weight: bold;
    color: var(--mainDarkColor);
    transition: var(--transition-fast);
}
ui-context span:hover{
    transform: scale(1.1);
    color: var(--darkColor);
    transition: var(--transition-fast);
}
.ui-context-menu {
    display: none;
    top: 0;
    left: var(--tools-width);
    margin: 10px 0 0 10px;
}
.ui-context-menu:hover {
    display: block
}