ui-context{
    /* --max-height: 400px;
    --min-width: 150px;
    --max-width: 300px; */
    --list-height: 30px;
    cursor: pointer;
    display: block;
    position: fixed;
    visibility: hidden;
    /* min-width: var(--min-width);
    max-width: var(--max-width);
    max-height: var(--max-height); */
    /* width: 250px; */
    /* padding-bottom: var(--list-height); */
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 30px -15px #323232;
    overflow: hidden;
    z-index: 9999;
}
ui-context ui-context {
    position: absolute;
    /* float: right; */
    /* float: right; */
    /* margin-top: - */
}
.ui-shown {
    visibility: visible;
}
ui-context * {
    cursor: pointer;
    outline: none!important;
}
ui-context span {
    display: block;
    position: relative;
    padding: 5px 10px;
    font-size: 8pt;
    /* font-weight: 700; */
    color: #646464;
    user-select: none;
    z-index: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
ui-context span:hover{
    background: #eee;
    color: #323232;
}
ui-context span:hover > ui-context,
ui-context ui-context:hover {
    visibility: visible;
}
ui-context .span-selected {
    background: #1E90FF;
}
ui-context h3{
    position: sticky;
    top: 0;
    padding: 5px 10px;
    font-size: 10pt;
    /* font-weight: 700; */
    color: #646464;
    background: #eee;
    user-select: none;
    opacity: .9;
    z-index: 2;
}
ui-context p { /* Context Block Title */
    position: relative;
    float: right;
    color: #929292;
    padding-left: 50px;
    font-size: 8pt;
    /* padding: 10px;
    font-size: 10pt;
    font-weight: 700;
    color: #323232;
    background: #ccc;
    user-select: none;
    opacity: .9;
    z-index: 2; */
}
.ui-context-menu {
    display: none;
    visibility: visible;
    top: 40px;
    left: var(--tools-width);
    margin: 10px 0 0 10px;
}
.ui-context-menu:hover {
    display: block;
}



ui-context .view::-webkit-scrollbar{
    display: none;
}
ui-context .view::-webkit-scrollbar-track {
    background: white; 
}
ui-context .view::-webkit-scrollbar-thumb {
    background: #323232; 
}
ui-context .view::-webkit-scrollbar-button{
    display: none;
    background: white;
}