@charset "utf-8";
@import "./svg.css";
@import "./app-parts/hierarchy.css";
@import "./app-parts/toolbar.css";
@import "./app-parts/topbar.css";
@import "./app-parts/webview.css";

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Roboto/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Roboto/Roboto-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
::-webkit-input-placeholder{
    color: var(--mainDarkColor);
}

html{
    --mainColor: #f6f6f6;
    --resColor: #e5e5e5;
    --mainDarkColor: #929292;
    --darkColor: #646464;
    --mainLightColor: #fff;
    --hoverBlueColor: #1E90FF;
    --header-height: 40px;
    --tools-width: 50px;
    --border-size-default: 2px;
    --user-gradient: linear-gradient(to left,#ee3f54, #f7664d);
    --transition-fast: .1s ease-in-out;
    --transition-normal: .2s ease-in-out;
    --transition-slow: .3s ease-in-out;
    --h-item-height: 30px;
    --h-item-child-container-border-width: 2px;
    font-family: "Roboto";
}
*{
    margin: 0;
    user-select: none;
}
html, body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body{
    position: relative;
    background: var(--resColor);
}
.flex-container{
    display: flex;
    position: fixed;
    width: 100%;
    height: 1000px;
    margin-left: var(--tools-width);
    margin-top: calc(var(--header-height) + var(--border-size-default));
}
.preloader{
    display: none;
    position: absolute;
    visibility: visible;
    opacity: 1;
    width: 100%;
    height: 100%;
    background: var(--mainLightColor);
    z-index: 999;
}
.preloader > img{
    display: block;
    position: relative;
    height: 12vh;
    top: 40vh;
    margin: 0 auto;
}
.preloader_loaded{
    visibility: hidden;
    opacity: 0;
    transition: var(--transition-slow);
}