@charset "utf-8";
@import "./svg.css";
@import "./app-parts/hierarchy.css";
@import "./app-parts/toolbar.css";
@import "./app-parts/topbar.css";
@import "./app-parts/workspace.css";
@import "./app-parts/styler.css";
@import "./native-ui/menu.css";
@import './native-ui/ui-context.css';



@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Roboto/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Roboto/Roboto-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
::-webkit-input-placeholder{
    color: var(--mainDarkColor);
}

html{
    --mainColor: #f6f6f6;
    --resColor: #e5e5e5;
    --mainDarkColor: #929292;
    --darkColor: #646464;
    --mainLightColor: #fff;
    --hoverBlueColor: #1E90FF;
    --header-height: 40px;
    --tools-width: 50px;
    --border-size-default: 2px;
    --user-gradient: linear-gradient(to left,#ee3f54, #f7664d);
    --transition-fast: .1s ease-in-out;
    --transition-normal: .2s ease-in-out;
    --transition-slow: .3s ease-in-out;
    --h-item-height: 30px;
    --h-item-child-container-border-width: 2px;
    font-family: "Roboto";
}
*{
    margin: 0;
    user-select: none;
}
html, body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body{
    position: relative;
    background: var(--resColor);
}
.none{
    display: none;
}
.flex-container{
    --size: calc(var(--header-height) + var(--border-size-default));
    display: flex;
    position: fixed;
    width: calc(100% - var(--tools-width) - var(--border-size-default));
    height: calc(100% - var(--header-height) - 2px);
    margin-left: calc(var(--tools-width) + var(--border-size-default));
    margin-top: var(--size);
    z-index: 10;
    /* border: 1px solid red; */
}
.preloader{
    display: block;
    position: absolute;
    visibility: visible;
    opacity: 1;
    width: 100%;
    height: 100%;
    background: var(--mainLightColor);
    transition: var(--transition-fast);
    z-index: 999;
}
.preloader > img{
    display: block;
    position: relative;
    height: 8vh;
    top: 42vh;
    margin: 0 auto;
}
.preloader_loaded{
    visibility: hidden;
    opacity: 0;
    transition: var(--transition-slow);
}


::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track {
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: var(--resColor); 
    border-radius: 10px;
    outline: none;
}
::-webkit-scrollbar-button{
    display: none;
}