
/* Hierarchy */
.hierarchy{
    display: inline-flex;
    position: relative;
    flex-shrink: 0;
    height: 100%;
    width: 300px;
    height: 100vh;
    padding-bottom: calc(var(--header-height) + var(--border-size-default));
    background: var(--mainColor);
    /* border-left: var(--border-size-default) solid var(--resColor); */
    border-right: var(--border-size-default) solid var(--resColor);
    overflow-x: hidden;
    z-index: 11;
}
.h-container{
    display: block;
    position: absolute;
    width: 100vw;
    margin-left: 20px;
}
/* .to-body-cursor{
    cursor: ew-resize!important;
} */
.right-border-sizing {
    border-right-color:#ccc!important;
}

.right-border-sizing::after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    right: 0;
    box-shadow: 0px 0px 20px 5px var(--resColor);
}
.h-item{
    list-style: none;
    padding-left: 20px;
    cursor: pointer;
    width: 100%;
    user-select: none;    
}
.branch{
    position: relative;
    list-style: none;
    margin-left: -40px;
    cursor: pointer;
    width: 100%;
    user-select: none;
    height: calc(var(--h-item-height) + var(--h-item-child-container-border-width) * 2);
    background: transparent;
    overflow: hidden;
    /* transition: var(--transition-fast); */
}
.branch::before{
    position: absolute;
    content: '▶';
    margin-left: -15px;
    color: var(--resColor);
    font-size: 6pt;
    line-height: calc(var(--h-item-height) + var(--h-item-child-container-border-width) * 2);
    transition-property: color;
    transition: var(--transition-fast);
}
.branch-show{
    height: auto;
}
.branch-show::before {
    content: '◢'!important;
}
.h-item-child-container{
    background: transparent;
    margin: var(--h-item-child-container-border-width) 0;
    text-transform: lowercase;
    outline: 1px solid transparent;
    transition: var(--transition-fast);
}
.h-item-child-container:active{
    /* outline-color: var(--hoverBlueColor); */
    transform: scale(0.99);   
    transition: var(--transition-fast);
}
.h-item-child-selected {
    background: #99D0FF;   
}
.h-item-type{
    display: inline-block;
    position: relative;
    height: var(--h-item-height);
    vertical-align: top;
}
.h-item-child-container:nth-child(n){
    white-space: nowrap;
    font-weight: bold;
    filter: sepia(.40);
    transition: var(--transition-fast) filter;
}

/* .h-item-child-container::before{
    content: '';
    position: absolute;
    width: 100%;
    margin-left: -30px;
    height: var(--h-item-height);
    background: transparent;
    z-index: -1;
} */
.h-item-type{
    --param: 22px;
    --type-height: calc(var(--h-item-height) - var(--param));
    height: var(--type-height);
    width: var(--type-height);
    margin-left: var(--type-height);
    margin-right: var(--type-height);
    top: calc(var(--param) * 0.5);
    vertical-align: center;
    text-transform: uppercase;
    color: var(--darkColor);
    font-size: 5pt;
}
.h-item-blockname,
.h-item-id,
.h-item-classname,
.h-item-href {
    font-size: 7.5pt;
    height: var(--h-item-height);
    margin-left: 5px;
    line-height: var(--h-item-height);
    text-align: left;
}
.branch:hover::before{
    color: var(--mainDarkColor);
    transition: var(--transition-fast);
}
.branch-mouseover,
.branch-active{
    filter: sepia(0);
    background: linear-gradient(to left, var(--mainLightColor) 90%, var(--mainColor));
    border-color: var(--mainLightColor);
    transition: var(--transition-fast);
}
.branch-mouseover::before,
.branch-active::before{
    color: var(--mainDarkColor);
    transition: var(--transition-fast);
}
.branch .h-item-child-container:hover{
    filter: sepia(0);
    background: var(--mainLightColor);
    transition: var(--transition-fast);
}
.branch-mouseover .h-item-child-container,
.branch-active .h-item-child-container{
    filter: sepia(0);
    transition: var(--transition-fast);    
}
.branch-mouseover .h-item-child-container:hover,
.branch-active .h-item-child-container:hover{
    background: var(--mainColor);
    transition: var(--transition-fast);
}
.branch-mouseover .h-item-blockname,
.branch-mouseover .h-item-id,
.branch-mouseover .h-item-classname,
.branch-mouseover .h-item-href,
.branch-active .h-item-blockname,
.branch-active .h-item-id,
.branch-active .h-item-classname,
.branch-active .h-item-href{
    filter: sepia(0);
    transition-property: filter;
    transition: var(--transition-fast);
}
.h-item-blockname{
    color: var(--hoverBlueColor);
}
.h-item-id{
    color: #FA8072;   
}
.h-item-id:before{
    content: '#';
}
.h-item-classname{
    color: var(--mainDarkColor);   
}
.h-item-classname:before{
    content: '.';
}
.h-item-href{
    color: royalblue;   
}